#Project files
/Build/Artifacts
/Build/Reports
/Build/Output
/Build/CodeCoverage
/Build/FluentSecurity.*.nuspec
/Packages/*
!/Packages/repositories.config
SharedAssemblyInfo.cs

#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.pdb
*.user
*.suo
*.[Cc]ache
[Oo]bj
[Bb]in
[Dd]ebug*/
[Rr]elease*/

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
NCover*.lic
*.*.dotCover
*.DotSettings

#SharpDevelop files
*.sdsettings