/* Resets default browser CSS.  
-------------------------------------------------------------- */
/* Eric Meyers CSS Reset - v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
-------------------------------------------------------------- */
body {background: #dddddd; font: normal 62.5%/1.5 "Trebuchet MS";}

/* Headings
-------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 {margin-bottom:.8em; font-weight:normal; font-family: Calibri, sans-serif;}
h1 {font-size: 1.7em;}
h2 {font-size: 1.4em;}
h3 {font-size: 1.2em;}
h4 {font-size: 1.1em;}
h5 {font-size: 1em;}
h6 {font-size: .8em;}

/* Text elements
-------------------------------------------------------------- */
p {margin-bottom: 1.5em;}

/* Link elements 
-------------------------------------------------------------- */
a {color: #333; font-weight: bold;}
a:hover,
a:active,
a:focus {background: #f9faca;}

/* List elements 
-------------------------------------------------------------- */
ul {margin-bottom: 1.5em; list-style: disc outside; padding-left: 1.8em;}
ol {margin-bottom: 1.5em; list-style: decimal outside; padding-left: 2.2em;}
dl {margin-bottom: 1.5em;}
dt {float: left; min-width: 100px; margin-right: .5em; font-weight: bold;}


/* Tables
-------------------------------------------------------------- */
table {width: 100%; margin-bottom: 1.5em; font-size: .9em;}
caption {padding-bottom: .5em; text-align: left;}
thead {background: #eee;}
thead tr {border-bottom: 5px solid #ddd}
thead th {font-weight: bold; padding: .5em 1em; text-align: left;}
tbody tr,
tbody td {border-bottom: 2px solid #ddd;} /* IE-fix */
tbody th {font-weight: bold; background: #eee;}
th,
td {padding: .5em 1em;}
table form {margin: 0;}

/*  Forms
-------------------------------------------------------------- */
form {margin-bottom: 1.5em;}
fieldset {margin-bottom: 1.5em; border-top: 3px solid #ddd; padding: 1.5em 1.5em 0 1.5em;}
legend {padding: 0 .5em; margin-left: -.5em; font-size: 1.1em; font-weight:bold;}
label {display: block; padding-bottom: .25em;}
input + label {display: inline; margin-left: .75em; float: none;}
.form-item,
.form-actions {margin-bottom: .75em;}
ul.form-item {list-style-type: none; padding: 0;}
input[type="text"],
input[type="password"],
select,
textarea {border: 1px solid #aaa; min-width: 15em;}
input[type="text"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {border: 1px solid #ffc600; background: #f9faca;}

/* Structure
-------------------------------------------------------------- */
#Wrapper {width: 980px; margin: 30px auto; font-size: 1.4em;}
#Content {padding: 30px; background: #fff; -moz-border-radius: 20px; -webkit-border-radius: 20px;}
#Header {overflow: hidden; padding: 0 30px;}
#Branding {float: left; font-weight:bold; font-family: Calibri, sans-serif; font-size: 2em; color: #666;}
#Main-Navigation {list-style: none; margin: .8em 0 0 0; padding: 0; overflow: auto;}
#Main-Navigation li {float: right; margin: 0 0 0 3px;}
#Main-Navigation li a {display: block; padding: .5em .8em; background: #fff; color: #000; font-weight: normal; text-decoration: none;}
#Main-Navigation li a:hover,
#Main-Navigation li a:active,
#Main-Navigation li a:focus {background: #f9faca;}
#Footer {padding: 1em; text-align: center; color: #666;}

/* General classes
-------------------------------------------------------------- */
.related-actions {list-style: none; padding: 0;}
.related-actions li {display: inline; margin-right: 1em;}
.field-validation-error {color: #ff0000;}
.input-validation-error {border: 1px solid #ff0000; background-color: #ffeeee;}
.validation-summary-errors {font-weight: bold; color: #ff0000;}